/*********
	Helpers
**********/

.has-padding {
	padding: 40px 0;
	overflow: hidden;
}

.caption {
	color: #aaa; 
	font-size: 10px; 
	display: block;
	margin-top: 5px;
	width: 100%;
	text-align: center;
}

/*********
	Header
**********/

.header-nav-wrapper {
	border-bottom: solid 5px #7AE2DE;
	background-color: #414A52;
}

.header-nav-wrapper .logo {
	color: #7AE2DE;
	font-size: 120%;
	font-weight: bold;
	border: none;
}

.header-nav-wrapper .navicon {
	background-color: transparent;
}

.header-nav-wrapper nav ul li a {
	color: #E5E7E9;
}

.secondary-nav-wrapper {
	padding: 0;
}

/*******
	Demos
********/

.collective .video-player {
	margin: 0px 0 25px -30%;
}

/******
	Goal
*******/

.freebies .row.overview  {
	margin-top: 80px;
	font-size: 400%;
	text-align: center;
}

	.freebies .row.overview a {
		display: block;
		color: #414A52;
	}

		.freebies .row.overview a i {
			transition: 0.2s linear color;
		}

		.freebies .row.overview a:hover i {
			color: #7AE2DE;
		}

	.freebies .row.overview h4 {
		text-align: left;
		margin-left: 0px;
		margin-top: 20px;
	}

/***************
	Media Queries
***************/

/* Portrait */

@media screen and (max-width: 640px) {
	.navicon {
		padding: 40px 35px;
	}

	.collective .video-player {
		width: 200%;
    margin: 0px 0% 25px -50%;
	}

	#reputation.collective .video-player {
		margin-left: -6%;
	}

	#platforms.collective .video-player {
		margin-left: -40%;
	}
}

/* Landscape */

@media screen and (max-width: 1024px) {
	.navicon {
		padding: 40px 35px;
	}

	.collective .video-player {
		width: 200%;
    margin: 0px 0% 25px -50%;
	}
}